* {
    margin: 0;
    padding: 0;
}

:root {
    --primcolor: white;
    --seccolor: rgba(242, 242, 242, 0.962);
    --tercolor: green;
    --fontcolor: black;
    --defaultborder: 0.3px solid rgb(176, 174, 174);
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-content: center;
    background-color: var(--seccolor)
}

nav .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}


nav .top-icons span {
    margin-right: 30px;
}

main {
    display: flex;
}

main .side {
    background-color: var(--seccolor);
    max-width: 4vw;
    min-height: 80vh;
    /* border-right: var(--defaultborder); */
}

.side .icon {
    width: 50px;
    height: 50px;
    position: relative;
    margin: 10px 5px;
}

.side .icon img {
    position: absolute;
    display: block;
    margin: 20px 15px;
}

aside .icon:hover {
    background-color: var(--primcolor);
}

main .left-content {
    width: 25vw;
    min-height: 80vh;
    background-color: rgb(251, 254, 253);
    border-right: var(--defaultborder);
    border-left: var(--defaultborder);
    border-top-left-radius: 3px;
}

section .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

section .search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    border-radius: 5px;
    margin: 10px auto;
    border-top: var(--defaultborder);
    border-right: var(--defaultborder);
    border-left: var(--defaultborder);
    border-bottom: 2px solid green;
}

.search .search-icon {
    margin-top: 3px;
    margin-left: 8px;
}

.search #search-bar {
    border: none;
    margin-right: 100px;
}

article .chat {
    display: flex;
    align-items: center;
    width: 300px;
    height: 60px;
    margin: 10px auto;
}

.chat div:first-child {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--seccolor);
}


.chat div>img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top left;
}

.chat div:nth-child(2) {
    margin-left: 20px;
    text-transform: capitalize;
    font-size: 1em;
    letter-spacing: 1px;
}

.chat:hover {
    background-color: var(--tercolor);
    color: white;
}

main .right-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    line-height: 40px;
}

.right-content div:nth-child(2) {
    font-size: 20px;
    text-transform: capitalize;
}


